<html>

<head>
  <title>
    <%= title%>
  </title>
</head>

<body>
  <h1>playground</h1>
  <ul>
    <% for(let i=0;i<10;i++){ %>
      <li>
        <%= i%>
      </li>
      <%}%>
  </ul>

  <% if(false){ %>
    <h1>it is true</h1>
    <% }else{ %>
      <h1>it is false</h1>
      <% } %>
</body>

</html>